@import url("https://fonts.googleapis.com/css2?family=Baumans&family=Megrim&display=swap");
html {
  overflow-x: hidden;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  font-family: "Baumans", cursive;
  color: #FFF0FF;
  background: url("../../media/background.jpg") bottom/cover;
  background-size: cover;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #FFF0FF;
}
a:visited {
  color: #FFF0FF;
}

header {
  position: relative;
  padding-bottom: 20px;
}
header:before {
  content: "";
  background: black;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.1) 100%);
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
}

.header_title {
  position: relative;
  z-index: 1;
  padding: 10px 0 0 20px;
}
.header_title img {
  height: 4rem;
}
.header_title a {
  display: block;
}
.header_title h1 {
  font-family: "Megrim", cursive;
  font-size: 2rem;
  font-weight: 100;
  text-transform: uppercase;
  margin: 0;
  color: #FFF0FF;
  text-shadow: 1.5px 1.5px 2px #A65398, 3px 3px 3px #F28F79, 4px 4px 5px #FFF0FF;
}
.header_nav {
  position: absolute;
  z-index: 1;
  top: 40px;
  right: 0px;
}
@media (max-width: 899px) {
  .header_nav {
    display: none;
  }
}
.header_nav ul {
  display: flex;
  justify-content: space-between;
  margin: 0 40px;
  padding: 0;
}
.header_nav li {
  display: flex;
  justify-content: center;
  font-size: 1.25rem;
  border-left: 2px solid #FFF0FF;
  border-right: 2px solid transparent;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  transition: 0.2s ease-in-out;
  margin: 0px 5px;
}
.header_nav li:hover {
  border-left: 2px solid #FFF0FF;
  border-right: 2px solid #FFF0FF;
  border-top: 2px solid #FFF0FF;
  border-bottom: 2px solid #FFF0FF;
}
.header_nav li:active {
  text-shadow: 1px 1px 3px #D984A3;
  transition: 0.05s;
}
.header_nav li a {
  padding: 4px 18px;
  width: 120px;
  text-align: center;
}
.header_line {
  width: 80%;
  height: 100px;
  border: 2px solid #FFF0FF;
  border-radius: 90%/100px 100px 0 0;
  border-color: #F28F79 transparent transparent transparent;
  position: absolute;
  top: 140px;
  margin: 0 50%;
  transform: translateX(-50%);
  filter: drop-shadow(1px 1px 6px);
}

.carousel {
  width: 325px;
  border: 1px solid #FFF0FF;
  margin: 50px auto 20px auto;
  overflow: hidden;
  box-shadow: 4px 4px 35px -15px #FFF0FF;
}
.carousel_figure {
  position: relative;
  width: 300%;
  margin: 0;
  padding: 0;
  font-size: 0;
  animation: 20s sliders infinite;
}
.carousel_figure-pic {
  width: 33.333334%;
  height: auto;
  float: left;
}

@keyframes sliders {
  0% {
    left: 0%;
  }
  11% {
    left: 0%;
  }
  22% {
    left: 0%;
  }
  33% {
    left: -100%;
  }
  44% {
    left: -100%;
  }
  56% {
    left: -100%;
  }
  67% {
    left: -200%;
  }
  78% {
    left: -200%;
  }
  89% {
    left: -200%;
  }
  100% {
    left: 0%;
  }
}
.offers {
  padding-top: 30px;
  display: flex;
  align-items: center;
}

.perspective {
  width: 100%;
  perspective: 800px;
  display: flex;
  justify-content: space-evenly;
}
.perspective_3d {
  width: 170px;
  height: 250px;
  box-shadow: 0 70px 63px -60px #FFF0FF;
  transform-style: preserve-3d;
  transition: transform 0.05s linear;
  box-sizing: initial;
}
.perspective_3d_card {
  background-size: cover;
  height: 100%;
  width: 100%;
  border: 1px solid #FFF0FF;
}
.perspective_3d_card:after {
  background: inherit;
  content: "";
  display: block;
  position: absolute;
  left: 40px;
  top: 40px;
  width: 90%;
  height: 85%;
  z-index: -1;
  filter: blur(45px);
}
.perspective_3d_card_info {
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding-top: 40px;
  background: black;
  background: linear-gradient(0deg, black 0%, rgba(0, 0, 0, 0.05) 100%);
  border-radius: 0 0 10px 10px;
}
.perspective_3d_card_info h2 {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 100;
  text-transform: uppercase;
  margin: 10px 10px 2.5px 10px;
  padding: 0;
}
.perspective_3d_card_info span {
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  margin: 2.5px 10px 10px 10px;
  padding: 0;
  bottom: 0;
}

.button {
  padding-top: 50px;
  position: relative;
  margin: auto;
  width: 320px;
}
.button:hover .button_rect {
  stroke-dasharray: 760;
  stroke-dashoffset: 0;
  stroke-width: 3px;
}
.button_rect {
  fill: transparent;
  stroke: #FFF0FF;
  border-bottom: 1px solid #F28F79;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 6px;
}
.button_text {
  position: relative;
  text-align: center;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: 8px;
  color: #FFF0FF;
  top: -48px;
}

footer {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
}

.networks {
  display: flex;
  justify-content: space-around;
  font-size: 2rem;
}
.networks a {
  margin: 0 10px;
  transition: transform 0.25s ease-out, text-shadow 0.3s ease-out;
}
.networks a:hover {
  transform: scale(1.25);
  text-shadow: #A65398 0px 0px 20px, #A65398 0px 0px 50px;
}

.copyright {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}
.copyright a {
  transition: transform 0.25s ease-out, text-shadow 0.3s ease-out;
}
.copyright a:hover {
  transform: scale(1.05);
  text-shadow: #FFF0FF 0px 0px 50px, #A65398 0px 0px 20px;
}

/*# sourceMappingURL=style.css.map */
