@import url("https://fonts.googleapis.com/css2?family=Baumans&family=Megrim&display=swap");

$white: #fff0ff;
$pink1: #d984a3;
$pink2: #a65398;
$purple1: #2e1346;
$purple2: #130a26;
$orange: #f28f79;

// ########## GLOBAL CONFIG ##########

html {
	overflow-x: hidden;
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}
body {
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100%;
	overflow: hidden;
	position: relative;
	font-family: "Baumans", cursive;
	color: $white;
	background: url("../../media/background.jpg") bottom/cover;
	background-size: cover;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
	color: $white;
	&:visited {
		color: $white;
	}
}

// ########## HEADER ##########

header {
	position: relative;
	padding-bottom: 20px;

	// ########## HEADER GRADIENT ##########

	&:before {
		content: "";
		background: rgb(0, 0, 0);
		background: linear-gradient(
			180deg,
			rgba(0, 0, 0, 0.9) 0%,
			rgba(0, 0, 0, 0.1) 100%
		);
		height: 100%;
		width: 100%;
		position: absolute;
		z-index: 0;
	}
}

// ########## LOGO & TITLE ##########

.header {
	&_title {
		position: relative;
		z-index: 1;
		padding: 10px 0 0 20px;
		// width: fit-content;
		img {
			height: 4rem;
		}
		a {
			display: block;
		}
		h1 {
			font-family: "Megrim", cursive;
			font-size: 2rem;
			font-weight: 100;
			text-transform: uppercase;
			margin: 0;
			color: $white;
			text-shadow: 1.5px 1.5px 2px $pink2, 3px 3px 3px $orange,
				4px 4px 5px $white;
		}
	}

	// ########## NAV BAR ##########

	&_nav {
		position: absolute;
		z-index: 1;
		top: 40px;
		right: 0px;
		@media (max-width: 899px) {
			display: none;
		}
		ul {
			display: flex;
			justify-content: space-between;
			// width: 300px;
			margin: 0 40px;
			padding: 0;
		}
		li {
			display: flex;
			justify-content: center;
			font-size: 1.25rem;
			border-left: 2px solid $white;
			border-right: 2px solid transparent;
			border-top: 2px solid transparent;
			border-bottom: 2px solid transparent;
			transition: 0.2s ease-in-out;
			margin: 0px 5px;
			&:hover {
				border-left: 2px solid $white;
				border-right: 2px solid $white;
				border-top: 2px solid $white;
				border-bottom: 2px solid $white;
			}
			&:active {
				text-shadow: 1px 1px 3px $pink1;
				transition: 0.05s;
			}
			a {
				padding: 4px 18px;
				width: 120px;
				text-align: center;
			}
		}
	}

	// ########## HEADER SEPARATOR LINE ##########

	&_line {
		width: 80%;
		height: 100px;
		border: 2px solid $white;
		border-radius: 90%/100px 100px 0 0;
		border-color: $orange transparent transparent transparent;
		position: absolute;
		top: 140px;
		margin: 0 50%;
		transform: translateX(-50%);
		filter: drop-shadow($white 1px 1px 6px);
	}
}
// ############ BODY ############

// ########## CAROUSEL ##########

.carousel {
	width: 325px;
	border: 1px solid $white;
	// border-radius: 10px;
	margin: 50px auto 20px auto;
	overflow: hidden;
	box-shadow: 4px 4px 35px -15px $white;
	@media (max-width: 899px) {
		// display: none;
	}
	&_figure {
		position: relative;
		width: 300%;
		margin: 0;
		padding: 0;
		font-size: 0;
		animation: 20s sliders infinite;

		&-pic {
			width: 33.333334%;
			height: auto;
			float: left;
		}
	}
}
@keyframes sliders {
	0% {
		left: 0%;
	}
	11% {
		left: 0%;
	}
	22% {
		left: 0%;
	}
	33% {
		left: -100%;
	}
	44% {
		left: -100%;
	}
	56% {
		left: -100%;
	}
	67% {
		left: -200%;
	}
	78% {
		left: -200%;
	}
	89% {
		left: -200%;
	}
	100% {
		left: 0%;
	}
}

// ########## OFFERS ##########

.offers {
	padding-top: 30px;
	display: flex;
	align-items: center;
}
.perspective {
	width: 100%;
	perspective: 800px;
	display: flex;
	justify-content: space-evenly;
	&_3d {
		width: 170px;
		height: 250px;
		box-shadow: 0 70px 63px -60px $white;
		transform-style: preserve-3d;
		transition: transform 0.05s linear;
		box-sizing: initial;
		&_card {
			background-size: cover;
			height: 100%;
			width: 100%;
			// border-radius: 10px;
			border: 1px solid $white;
			&:after {
				background: inherit;
				content: "";
				display: block;
				position: absolute;
				left: 40px;
				top: 40px;
				width: 90%;
				height: 85%;
				z-index: -1;
				filter: blur(45px);
			}
			&_info {
				position: absolute;
				bottom: 0px;
				width: 100%;
				padding-top: 40px;
				background: rgb(0, 0, 0);
				background: linear-gradient(
					0deg,
					rgba(0, 0, 0, 1) 0%,
					rgba(0, 0, 0, 0.05) 100%
				);
				border-radius: 0 0 10px 10px;
				h2 {
					display: inline-block;
					font-size: 1.2rem;
					font-weight: 100;
					text-transform: uppercase;
					margin: 10px 10px 2.5px 10px;
					padding: 0;
				}
				span {
					display: inline-block;
					font-size: 1rem;
					font-weight: 400;
					margin: 2.5px 10px 10px 10px;
					padding: 0;
					bottom: 0;
				}
			}
		}
	}
}

// ########## BUTTON GET STARTED ##########

@mixin dash($array, $offset, $width) {
	stroke-dasharray: $array;
	stroke-dashoffset: $offset;
	stroke-width: $width;
}

.button {
	padding-top: 50px;
	position: relative;
	margin: auto;
	width: 320px;
	&:hover &_rect {
		@include dash(760, 0, 3px);
	}

	&_rect {
		fill: transparent;
		stroke: $white;
		border-bottom: 1px solid $orange;

		transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
		@include dash(140 540, -474, 6px);
	}
	&_text {
		position: relative;
		text-align: center;
		font-size: 32px;
		line-height: 32px;
		letter-spacing: 8px;
		color: $white;
		top: -48px;
	}
}

// ########## FOOTER - NETWORKS ##########

footer {
	position: absolute;
	bottom: 0px;
	left: 50%;
	transform: translateX(-50%);
	width: 60%;
}
.networks {
	display: flex;
	justify-content: space-around;
	font-size: 2rem;
	a {
		margin: 0 10px;
		transition: transform 0.25s ease-out, text-shadow 0.3s ease-out;
		&:hover {
			transform: scale(1.25);
			text-shadow: $pink2 0px 0px 20px, $pink2 0px 0px 50px;
		}
	}
}
.copyright {
	display: flex;
	justify-content: space-around;
	margin: 20px 0;
	a {
		transition: transform 0.25s ease-out, text-shadow 0.3s ease-out;
		&:hover {
			transform: scale(1.05);
			text-shadow: $white 0px 0px 50px, $pink2 0px 0px 20px;
		}
	}
}

// ########## BORDER DEV TOOL ##########

// * {border: solid 1px red;}
